.afisha-perfomance__who {
    max-width: 269px;
    margin: 16px 0 0 0;
    padding: 0;

    font-family: 'FormularLight';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #242424;
}