.cooperation__subtitle {
    width: 468px;
    margin: 0 0 24px 0;
    padding: 0;

    font-family: Neue Machina;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width: 768px) {
    .cooperation__subtitle {
        width: 333px;
        font-size: 20px;
        line-height: 24px;
    }
}