.afisha-perfomance_one-play {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 183px 0 0 210px;
}

@media screen and (max-width: 1020px) {
    .afisha-perfomance_one-play {
        display: none;
      
    }
}