.afisha-perfomance__card__button {
height: 32px;
width: 154px;
margin: 16px 0 0 0;
padding: 0 0 0 28px;
text-align: left;
background-color: #ECEBE8;
background-image: url(../../afisha-perfomance/images/Arrow.svg);
background-repeat: no-repeat;
background-position: left;


border: 1px solid #242424;
border-top: none;
border-right: none;
}


@media screen and (max-width: 1020px) {
    .afisha-perfomance__card__button {
    margin: 40px 27px 32px 0;
    }
}

@media screen and (max-width: 1020px) {
    .afisha-perfomance__card__button:last-child {
    margin-right: 0;
    }
}
