.afisha-perfomance__card__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    position: relative;
}

@media screen and (max-width: 768px) {
    .afisha-perfomance__card__buttons {
        position: absolute;
        left: 24px;
    }
}