.youtube-button__container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 112px;
    padding-left: 25%;
}

@media screen and (max-width: 567px) {
    .youtube-button__container {
        padding-left: 25px;
        margin: 100px 0 0 0;
    }
}