.afisha-perfomance__card__who__writer {
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

@media screen and (max-width: 1100px) {
    .afisha-perfomance__card__who__writer {
        padding: 0;
    }
}