.gallery__title {
    height: auto;
    width: 568px;
    margin: 0 0 42px 362px;
    padding: 145px 0 0;

    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

@media screen and (max-width: 1100px) {
    .gallery__title {
        margin: 0 21px 32px 150px;
        padding: 100px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .gallery__title {
        width: 369px;
        margin: 0 21px 22px 24px;
        font-size: 28px;
        line-height: 32px;
    }
}