.header__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media (max-width: 1050px) {
  .header__content {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media (max-width: 720px) {
  .header__content {
    display: grid;
    grid-template-columns: 1fr 163px;
    grid-template-rows: auto auto;
    grid-template-areas:
      'soc btn'
      'nav nav';
      gap: 5px;
  }
}