.afisha-perfomance__card__link {
    height: 32px;
    width: 154px;
    background-color: #ECEBE8;
    text-decoration: none;
    font-family: 'FormularLight';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
    color: #242424;
    text-align: left;
}

.afisha-perfomance__card__link:hover {
    color: #E5E5E5;
    background-color: #242424;
}