.afisha-perfomance__button {
    display: flex;
    height: 32px;
    width: 154px;
    margin: 16px 0 0 0;
    padding: 0 0 0 28px;

    
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'FormularLight';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
    color: #242424;
    

    border: 1px solid #242424;
    border-top: none;
    border-right: none;
}


@media screen and (max-width: 768px) {
    .afisha-perfomance__card__button {
        margin: 40px 27px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .afisha-perfomance__card__button:last-child {
        margin-right: 0;
    }
} 

.afisha-perfomance__card__button:hover {
    background-color: #242424;
    color: #ECEBE8;
} 

